.each-dish {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 0px;
  list-style-type: none;
  border: 1px solid #4545458e;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #4545458e;
  margin-bottom: 20px;
  margin-right: 25px;
  overflow-x: hidden;
}

.dish-image {
  height: 150px;
  width: 150px;
}

.square {
  width: 40px;
  height: 40px;
  border: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-shrink: 0;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
}

.dish-name {
  font-size: 23px;
  font-weight: 700;
  margin-top: 0px;
  width: 250px;
}

.dish-price {
  font-size: 18px;
  font-weight: 600;
  color: #4f4f4f;
}

.dish-description {
  font-size: 18px;
  font-family: 500;
  color: #a7a5a5;
  width: 300px;
}

.quantity-container {
  display: flex;
  justify-content: space-evenly;
  background-color: #338218;
  width: 150px;
  border-radius: 30px;
  color: #ffffff;
  align-items: center;
}

.quantity {
  font-size: 25px;
  font-weight: 700;
  margin: 10px;
  color: #ffffff;
}

.customization-option {
  font-size: 19px;
  font-family: 400;
  color: #653ef3;
}

.calories {
  color: #ffa500;
  font-size: 20px;
  font-weight: 700;
}

.calories-container {
  align-self: center;
}

.available {
  background-color: #92282a;
}

.available-border {
  border-color: #92282a;
}

.not-available {
  color: red;
}

.row-container {
  display: flex;
  gap: 20px;
}

.quantity-btn {
  font-weight: 500;
}
