.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.logoName {
  font-size: 30px;
  font-weight: 700;
}

.btn-hide {
  border-width: 0px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
}

.cart-btn {
  font-size: 40px;
  display: flex;
  align-items: flex-start;
}

.quantity-number {
  color: #ffffff;
  background-color: #ff6347;
  font-size: 15px;
  font-weight: 500;
  padding: 5px;
  border-radius: 20%;
  margin: 0px;
}

.cart-container {
  display: flex;
}
